@media screen and (max-width:650px){
*{
  margin:0;
}
html{
  height:100%;
}

body{
  background-color: #eee;
  height: 100%;
  margin: 0;
}

.wrapper{
  padding-bottom: 100px;
  /* min-height: 130vh; */
    position: relative;
    box-sizing: border-box;
    height: 100%;
    overflow: scroll;
    height: auto;

}

/* header */
.main-header{
  background-color: #000;
  height: 200px
}

.main-header h1{
  width: 120px;
  height: 34px;
  margin: 5px 5px 5px 8px;
  text-align: center;
  color: blue;
  border-color: #faa #afa #aaf #aff;
  border-style: solid;
  border-width: 3px;
  float:left;
  background-color: white;
  font-size: 25px;
  padding-bottom: 3px;
  border-radius: 10px;
}

.main-header a{
  text-decoration:none;
}

.main-header a:visited{
  color: black;
}

.main-header ul{
  list-style-type: none;
  height: 40px;
  margin: 5px;
  float:right;
  width: 90%;
  margin: 0 5%;
  padding: 0;
}

.main-header li{
  /* float:left; */
  padding: 8px;
  background-color: #fff;
  height: 0 35px;
  text-align:center;
  width: 95%;
  border-bottom: 1px solid black;
}

.main-header li:nth-of-type(1){
  border-top: 1px solid black;
}



/* top-promotion */
.top-promotion img{
  margin-top: 10px;
  width: 100%;
}

/* main-contents */
.contents-main{
  width: 90%;
  margin-right: 5%;
  margin-left: 5%;
  /* margin: 10px auto; */
  min-height: 100%;
  margin-bottom: -50px;
  height: auto;
}

.main-wrapper{
  margin-top: 15px;
  margin-right: 0;
  width: 100%;
}

.main-article{
  width:90%;
  /* margin: 0 5%; */
  background-color: white;
  padding: 10px 5%;
}

.article-image-supplement img{
  width: 80%;
  margin: 0 10%
}

.article-image-supplement p{

}

.right{
  text-align: right;
}

.articles-list{
  height: 600px;
}


.home-article{
  text-decoration:none;
  padding: 5%;
  width: 90%;
  height: auto;
  /* margin-left:10%;
  margin-right: 10%; */
  margin-bottom: 20px;
  float:left;
  background-color: white;
}

.home-article:hover{
  opacity: 0.3;
}

.home-article a{
  text-decoration:none;
}

.home-article a:visited{
  color: black;
}

.home-article a:link{
  color: black;
}

.home-article img{
  width:80%;
  height: auto;
  object-fit: cover;
}

.home-article span,h3,time{
  float: left;
  clear: left;
}

aside [class ^="article-side-promotion"]{
  float:right;
  width:100%;
  height: auto;
}

aside[class ^="article-side-promotion"] a{
  width:100%;
}

aside[class ^="article-side-promotion"] img{
  width: 90%;
  margin: 0 5%;
}

.article-side-promotion2{
  display: none;
}


/* side-promotion */
aside[class ^="side-promotion"] img{
  width: 80%;
  margin: 0 10%;
  height: auto;
  /* object-fit: cover; */
  float: right;
}

.side-promotion1{
  display: none;
}



.push {
  height: 50px;
}

/* footer */
.footer{
  display: block;
  position: absolute;
  bottom: 0;
  background-color: white;
  width: 100%;
  height: 100px;
}

.footer a{
  text-decoration:none;
}

.footer a:visited{
  color: black;
}

/* .put-right{
  margin: 0 30%;
} */

.footer ul{
  list-style-type: none;
  padding: 0;
  margin:0 30%;
}

.footer li{
  float:left;
  padding: 8px;
  background-color: #fff;
  height: 0 20px;
  width:100%;
  text-align:center;
  border: 1px solid black;
  font-size: 5px;
}

.clear{
  clear: both;
}

.clear hr {
  display:none;
 }

}
